* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

header {
  width: 100%;
  height: 4rem;
  background-color: #dcdcdc;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 90rem;
  margin: auto;
}

header nav .links {
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 3rem;
}

header nav .links .logo {
  color: #0197fe;
}
header nav .links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.732);
}

header nav .btns {
  /* background-color: green; */
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

header nav .btns a {
  text-decoration: none;
}

header nav .btns button {
  background-color: #0197fe;
  color: white;
  border: none;
  height: 80%;
  padding: 0 20px;
  border-radius: 5px;
  /*cursor: pointer;
  */
}

/*? visibility */

.visibility {
  max-width: 35rem;
  margin: 4rem auto;
  text-align: center;
}

.visibility h2 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.visibility h2 > span {
  color: #0197fe;
}

.visibility p {
  /* font-size: 20px; */
  color: rgba(0, 0, 0, 0.759);
}

/* ? Main section */
.container {
  height: 50rem;
  width: 100%;
  border: 1px solid black;
}

.container .wrapper {
  max-width: 80rem;
  height: 100%;
  margin: auto;
  background-color: #f0f0f0;
  padding: 22px;
  border: 1px solid black;
}

.container .mini-nav {
}
